$bluePrimary: #2175d8;
$yellowPrimary: #ffc857;
$greenPrimary: #24660f;
$redSecondary: #af302c;
$blackSecondary: #323031;
$whiteSecondary: #ffffff;

$blueHover: #144580;
$greenHover: #1c500c;
$redHover: #872522;
$whiteHoverActive: #ffe6b2;

$blueInactive: #707b89; //disabled btns
