main,
header,
footer {
  max-width: 1440px;
  margin: 0 auto;
}

section {
  grid-template-columns: repeat(12, 1fr);
}

/* 
Header
*/
.logotype svg:hover g path,
.logotype svg:hover g#georgiosText path:nth-child(-n + 3),
.logotype svg:hover g#pizzeriaText path:first-child,
.logotype svg:hover g#sedanLogoGroup path:first-child,
.logotype svg:hover g#year1992LogoGroup path:first-child {
  fill: $blueHover;
}
.logotype svg:hover g path:first-child {
  fill: $whiteSecondary;
}
.nav-list {
  grid-template-columns: repeat(5, 1fr);
  li:nth-child(4) {
    padding-left: 20px;
  }
  li:nth-child(5) {
    justify-self: end;
    span {
      padding: 0 10px;
    }
  }
}
/* 
Section One
*/
// Jessika

/* 
Section Two
*/
// all positioning is just for test - sizes, grid, margin and padding must be adjusted properly
#recommendedDishes {
  grid-column: 1 / span 9;
  padding: 30px;
  //width: 90%;
  //margin: 20px auto;
}

#daily {
  grid-column: 9 / span 4; /* Börjar från kolumn 9 och tar upp 4 kolumner */
  padding: 20px;
  width: 90%;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: $whiteSecondary;
}

#allergies {
  grid-column: 9 / span 4; /* Börjar från kolumn 9 och tar upp 4 kolumner */
  padding: 20px;
  width: 90%;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: $whiteSecondary;
}

#fresh {
  grid-column: 9 / span 4; /* Börjar från kolumn 9 och tar upp 4 kolumner */
  padding: 20px;
  width: 90%;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: $whiteSecondary;
}

#allDishes {
  grid-column: 9 / span 4; /* Börjar från kolumn 9 och tar upp 4 kolumner */
  padding: 20px;
  width: 90%;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: $whiteSecondary;
}
// Anna

/* 
Section Three
*/
.section-three {
  .quote-box .quote-box-bg-img {
    padding-left: 100px;
    padding-top: 100px;
    .quote .quote-bubble p {
      font-size: 1.375rem;
    }
  }
}
// Per

/* 
Section Food Menu
*/
.section-menu {
  padding: 50px;
}
// ?

/* 
Section Footer
*/
// Per

/* 
Cookie
*/
.cookieContainer {
  width: 100vw;
}
// Anna
