main,
header,
footer {
  max-width: 1440px;
  margin: 0 auto;
}

section {
  grid-template-columns: repeat(12, 1fr);
}


/* 
Header
*/
.logotype svg:hover g path,
.logotype svg:hover g#georgiosText path:nth-child(-n + 3),
.logotype svg:hover g#pizzeriaText path:first-child,
.logotype svg:hover g#sedanLogoGroup path:first-child,
.logotype svg:hover g#year1992LogoGroup path:first-child {
  fill: $blueHover;
}
.logotype svg:hover g path:first-child {
  fill: $whiteSecondary;
}
.nav-list {
  grid-template-columns: repeat(5, 1fr);
  li:nth-child(4) {
    padding-left: 20px;
  }
  li:nth-child(5) {
    justify-self: end;
    span {
      padding: 0 10px;
    }
  }
}
/* 
Section One
*/
// Jessika
.section-one {
  .title-card {
    border-radius: 21px; // något är fel, inget händer
    margin-bottom: 2%; // något är fel, inget händer

    h1 {
      line-height: 1;
    }

    .meal-push {
      padding-top: 15px; 
    }
  }
  .food-menu-btn {
    margin-bottom: 5%; // något är fel, inget händer
  }
      
  .tiled-imgs {
    grid-template-columns: repeat(12, 1fr);

    .pizza-container {
      grid-column: 1 / span 2;
      padding: 25px 12.5px 25px 25px;
      height: 190px;
    }
    .souvlaki-container {
      grid-column: 3 / span 2;
      padding: 25px 12.5px 25px 12.5px;
      height: 190px;
    }
    .hamburger-container {
      grid-column: 5 / span 2;
      padding: 25px 12.5px 25px 12.5px;
      height: 190px;
    }
    .kebab-container {
      grid-column: 7 / span 2;
      padding: 25px 12.5px 25px 12.5px;
      height: 190px;
    }
    .falafel-container {
      grid-column: 9 / span 2;
      padding: 25px 12.5px 25px 12.5px;
      height: 190px;
    }
    .lambchop-container {
      grid-column: 11 / span 2;
      padding: 25px 25px 25px 12.5px;
      height: 190px;
    }
  }
}

/* 
Section Two
*/
// all positioning is just for test - sizes, grid, margin and padding must be adjusted properly
#recommendedDishes {
  grid-column: 1 / span 8; 
  padding: 30px;
  width: 90%;
  margin: 20px auto;
}

#daily {
  grid-column: 9 / span 4; /* Börjar från kolumn 9 och tar upp 4 kolumner */
  padding: 20px;
  width: 90%;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: $whiteSecondary;
}

#allergies {
  grid-column: 9 / span 4; /* Börjar från kolumn 9 och tar upp 4 kolumner */
  padding: 20px;
  width: 90%;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: $whiteSecondary;
}

#fresh {
  grid-column: 9 / span 4; /* Börjar från kolumn 9 och tar upp 4 kolumner */
  padding: 20px;
  width: 90%;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: $whiteSecondary;
}

#allDishes {
  grid-column: 9 / span 4; /* Börjar från kolumn 9 och tar upp 4 kolumner */
  padding: 20px;
  width: 90%;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: $whiteSecondary;
}
// Anna

/* 
Section Three
*/
.section-three {
  .quote-box .quote-box-bg-img {
    padding-left: 100px;
    padding-top: 100px;
    .quote .quote-bubble p {
      font-size: 1.375rem;
    }
  }
}
// Per

/* 
Section Food Menu
*/
.section-menu {
  padding: 50px;

  .menu-section {
    padding-left: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-container {
      margin: 0 auto; /* Centrera elementet horisontellt */
      max-width: fit-content; /* Sätt maximal bredd till innehållets storlek */
      display: flex;
      justify-content: center;
      margin-top: 35px;
      margin-bottom: 25px;

      img {
        display: block;
        margin: 0 auto;
        width: 212px; /* Behåll bredden på logotypen */
        height: 212px; /* Behåll höjden på logotypen */
      }
    }

    .menu-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 40px; /* Justera utrymmet från vänster */
      padding-right: 20px; /* Justera utrymmet från höger */

      .menu-item {
        width: calc(50% - 15px);
        margin-bottom: 20px;
      }
    }
  }

  .menu-header {
    position: sticky;
    top: 200px;
    left: 0;
    margin-left: -50px;
    z-index: 1;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    max-width: 220px; /* Behåll den maximala bredden på sticky menu */
  }

  .menu-header ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
    width: auto;
    flex-grow: initial;
    flex-direction: column;
    box-sizing: border-box;
  }

  .menu-header li {
    font-size: 2rem;
  }
}
// ?

/* 
Section Footer
*/
// Per

/* 
Cookie
*/
.cookieContainer {
  width: 100vw;
}
// Anna
