//Hide, but not for  screen readers
.hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px);
  /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%);
  /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap;
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

/* 
Font family
*/

h1,
h2,
h3 {
  font-family: "Courgette", cursive;
}
h4,
h5,
h6,
p {
  font-family: "Merienda", cursive;
}

//smooth scroll
html {
  scroll-behavior: smooth;
}

body {
  background-color: $whiteHoverActive;
}

main,
header,
footer {
  display: grid;
  padding: 5px 10px;
}

header,
footer {
  background-color: $whiteSecondary;
}

main {
  background-color: $bluePrimary;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 10px;
  background-color: $yellowPrimary;
  margin: 5px 0;
}

/* 
Header
*/
// Per

/* 
Section One
*/
// Jessika

/* 
Section Two
*/
// Anna

/* 
Section Three
*/
// Per

/* 
Section Food Menu
*/
// ?

/* 
Section Footer
*/
// Per

/* 
Cookie
*/
#cookieContainer {
  background-color: $whiteSecondary;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
#cookie {
  background-color: $bluePrimary;
  color: $whiteSecondary;
  padding: 20px;
}
#cookie p {
  margin-bottom: 10px;
}
#cookie button {
  margin-right: 10px;
}
#rejectButton {
  background-color: $redSecondary;
  color: $whiteSecondary;
}
#acceptButton {
  background-color: $greenPrimary;
  color: $whiteSecondary;
}

// Anna
