h1,
h2,
h3 {
  font-family: "Courgette", cursive;
}
h4,
h5,
h6,
p {
  font-family: "Merienda", cursive;
}

//smooth scroll
html {
  scroll-behavior: smooth;
}

body {
  background-color: $whiteHoverActive;
}

main,
header,
footer {
  display: grid;
  padding: 5px 10px;
}

header,
footer {
  background-color: $whiteSecondary;
}

main {
  background-color: $bluePrimary;
}

section {
  //display: grid;
  //grid-template-columns: repeat(2, 1fr);
  border-radius: 10px;
  background-color: $yellowPrimary;
  margin: 5px 0;
}

/* 
Header
*/
// Per

/* 
Section One
*/
// Jessika

.title-section {
  background-image: url("/assets/grilled.jpg");
  background-size: cover;
  margin-left: -10px;
  margin-right: -10px;

  .title-card {
    background-color: #474747;
    opacity: 80%;
    color: #FFFFFF;
    border-radius: 21px;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    width: 75%;
    
    .meal-push {
      text-transform: uppercase;
      font-size: 0.75rem;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .food-menu-btn {
    background-color: #2175D8;
    color: #FFFFFF;
    border-radius: 12px;
    padding-left: 40px;
    padding-right: 40px;
  }
}


.tiled-imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .pizza-container {
    padding: 10px 6.5px 6.5px 10px;
    width: 100%;
    height: 135px;
    object-fit: cover;

    .pizza {
      grid-column: 1 / span 1;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .souvlaki-container {
    padding: 10px 10px 6.5px 6.5px;
    width: 100%;
    height: 135px;
    object-fit: cover;
    

    .souvlaki {
      grid-column: 2 / span 1;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .hamburger-container {
    padding: 6.5px 6.5px 6.5px 10px;
    width: 100%;
    height: 135px;
    object-fit: cover;
  
    .hamburger {
      grid-column: 1 / span 1;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .kebab-container {
    padding: 6.5px 10px 6.5px 6.5px;
    width: 100%;
    height: 135px;
    object-fit: cover;
  
    .kebab {
      grid-column: 2 / span 1;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .falafel-container {
    padding: 6.5px 6.5px 10px 10px;
    width: 100%;
    height: 135px;
    object-fit: cover;
  
    .falafel {
      grid-column: 1 / span 1;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .lambchop-container {
    padding: 6.5px 10px 10px 6.5px;
    width: 100%;
    height: 135px;
    object-fit: cover;
  
    .lambchop {
      grid-column: 2 / span 1;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
}

/* 
Section Two
*/
// Anna

/* 
Section Three
*/
// Per

/* 
Section Food Menu
*/
// ?

/* 
Section Footer
*/
// Per

/* 
Cookie
*/
// Anna
