main,
header,
footer {
  padding: 12.5px 25px;
}

section {
  margin: 12.5px 0;
  grid-template-columns: repeat(6, 1fr);
}

/* 
Header
*/
// Per

/* 
Section One
*/
// Jessika

/* 
Section Two
*/
// all positioning is just for test - sizes, grid, margin and padding must be adjusted properly
#recommendedDishes {
  grid-column: 1 / span 3;
  grid-row: 1 / span 28;
  padding: 30px;
  width: 354px;
  margin: 20px auto;
}

#recommendedDishes h2 {
  width: 100%;
}

#daily {
  grid-column: 4 / span 3; 
  grid-row: 1 / span 4;
  padding: 20px;
  width: 354px;
  height: 89px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    margin-right: 20px;
  }
}

#allergies {
  grid-column: 4 / span 3; /* Lägg till styling för allergies */
  grid-row: 5 / span 7;
  padding: 20px;
  width: 345px;
  height: 135px;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: $whiteSecondary;
}

#fresh {
  grid-column: 4 / span 3; /* Lägg till styling för fresh */
  grid-row: 12 / span 10;
  padding: 20px;
  width: 90%;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: $whiteSecondary;
  color: $bluePrimary;
}

#allDishes {
  grid-column: 4 / span 3;
  grid-row: 23 / span 7;
  padding: 5px;
  width: 90%;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  background-color: $whiteSecondary;

  .menu-button {
    background-color: $bluePrimary;
    color: $whiteSecondary;
    transition: background-color 0.3s;
    width: 142px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  
    &:hover {
      background-color: $blueHover;
    }
  }
}
// Anna

/* 
Section Three
*/
// Per

/* 
Section Food Menu
*/
// ?

/* 
Section Footer
*/
// Per

/* 
Cookie
*/
.cookieContainer {
  max-width: 100%;
  margin 0 auto;
}
// Anna
