main,
header,
footer {
  padding: 12.5px 25px;
}

section {
  margin: 12.5px 0;
  grid-template-columns: repeat(6, 1fr);
}

/* 
Header
*/
.phone-icon {
  @include hidden;
}
// Per

/* 
Section One
*/
// Jessika

/* 
Section Two
*/
// Anna

/* 
Section Three
*/
// Per

/* 
Section Food Menu
*/
// ?

/* 
Section Footer
*/
// Per

/* 
Cookie
*/
// Anna
