main,
header,
footer {
  padding: 12.5px 25px;
}

section {
  margin: 12.5px 0;
  grid-template-columns: repeat(6, 1fr);
}

/* 
Header
*/
header {
  .logotype svg {
    width: 193px;
    height: 193px;
  }
  .nav-list {
    display: grid !important;
    align-items: center;
    li {
      display: grid;
      white-space: nowrap;
      justify-items: center;
    }
    li:nth-child(5) {
      height: fit-content;
      span {
        background-color: $bluePrimary;
        color: $whiteSecondary;
        border-radius: 10px;
      }
    }
  }
}
.phone-icon {
  @include hidden;
}

@media screen and (max-width: 1023px) {
  .nav-list {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;
    padding-top: 10% !important;
    li:nth-child(5) {
      grid-column: 4 / 5;
      span {
        font-size: 1.25rem;
        padding: 5px;
      }
    }
  }
}
// Per

/* 
Section One
*/
// Jessika

/* 
Section Two
*/
// Anna

/* 
Section Three
*/
// Per

/* 
Section Food Menu
*/
// ?

/* 
Section Footer
*/
// Per

/* 
Cookie
*/
// Anna
