@import "reset";
@import "colors";

/* 
Mobile
 */

p {
  font-size: 0.8125rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3,
li {
  font-size: 1.25rem;
}
h4,
button,
button p {
  font-size: 1.125rem;
}
h5 {
  font-size: 1.0625rem;
}
h6 {
  font-size: 1rem;
}

@import "mobile";

/* 
Tablet
*/

@media screen and (min-width: 768px) {
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 5.25rem;
  }
  h2 {
    font-size: 2.625rem;
  }
  h3,
  li {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.125rem;
  }
  h6 {
    font-size: 1.0625rem;
  }
  @import "tablet";
}

/* 
Desktop
*/

@media screen and (min-width: 1024px) {
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3,
  li {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.375rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1.125rem;
  }
  @import "desktop";
}
