/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* 
Mobile
 */
p {
  font-size: 0.8125rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.0625rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-family: "Courgette", cursive;
}

h4,
h5,
h6,
p {
  font-family: "Merienda", cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffe6b2;
}

main,
header,
footer {
  display: grid;
  padding: 5px 10px;
}

header,
footer {
  background-color: #ffffff;
}

main {
  background-color: #2175d8;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 10px;
  background-color: #ffc857;
  margin: 5px 0;
}

/* 
Header
*/
/* 
Section One
*/
/* 
Section Two
*/
/* 
Section Three
*/
/* 
Section Food Menu
*/
/* 
Section Footer
*/
/* 
Cookie
*/
#cookieContainer {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

#cookie {
  background-color: #2175d8;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  position: relative;
}

#cookie p {
  margin-bottom: 10px;
}

#cookie button {
  margin-left: auto;
  margin-right: 10px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
}

#rejectButton {
  background-color: #af302c;
  color: #ffffff;
}

#acceptButton {
  background-color: #24660f;
  color: #ffffff;
}

/* 
Tablet
*/
@media screen and (min-width: 768px) {
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 5.25rem;
  }
  h2 {
    font-size: 2.625rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.125rem;
  }
  h6 {
    font-size: 1.0625rem;
  }
  main,
  header,
  footer {
    padding: 12.5px 25px;
  }
  section {
    margin: 12.5px 0;
    grid-template-columns: repeat(6, 1fr);
  }
  /* 
  Header
  */
  /* 
  Section One
  */
  /* 
  Section Two
  */
  /* 
  Section Three
  */
  /* 
  Section Food Menu
  */
  /* 
  Section Footer
  */
  /* 
  Cookie
  */
}
/* 
Desktop
*/
@media screen and (min-width: 1024px) {
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.375rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1.125rem;
  }
  main,
  header,
  footer {
    max-width: 1440px;
    margin: 0 auto;
  }
  section {
    grid-template-columns: repeat(12, 1fr);
  }
  /* 
  Header
  */
  /* 
  Section One
  */
  /* 
  Section Two
  */
  /* 
  Section Three
  */
  /* 
  Section Food Menu
  */
  /* 
  Section Footer
  */
  /* 
  Cookie
  */
}/*# sourceMappingURL=style.css.map */